.modal-buy {
  position: relative;
  width: 90%;
  border-radius: 15px;
  background-color: $lightWhite;
  padding: 50px 24px 20px;
  height: calc(100vh - 20px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    width: 610px;
    padding: 50px 48px 40px;
    height: calc(100vh - 40px);
  }

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    margin: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 400ms $cubicTransition;

    &:hover,
    &:focus {
      outline: none;
      fill: $orange;
      background-color: $lightOrange;
    }
  }

  .modal-holder {
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 2px;
      height: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $orange;
    }
    &::-webkit-scrollbar-track {
      background-color: $lightWhite;
    }

    .modal-headline {
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.2;
      text-align: center;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      margin-bottom: 32px;

      span {
        color: $orange;
      }
    }

    .modal-form {
      .top-sellers-list {
        margin-bottom: 32px;
        gap: 8px;
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 16px;
        }

        .top-sellers-item {
          padding: 8px 12px;
          background: $white;
          border: 1px solid rgba(17, 17, 17, 0.1);
          border-radius: 15px;
          flex-basis: 30%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 16px;

          @media only screen and (min-width: 768px) {
            padding: 14px 18px;
            flex-direction: column;
          }

          .img {
            margin-top: 8px;
            margin-bottom: 8px;
            width: 90px;

            @media only screen and (min-width: 768px) {
              width: 100%;
            }
          }

          .img-title {
            padding: 8px 20px;
            background: $lightWhite;
            border: 1px solid rgba(17, 17, 17, 0.1);
            border-radius: 100px;
            font-weight: 600;
            font-size: 1.4rem;
            width: auto;
            display: inline-block;
          }
        }
      }

      .form-holder {
        .flex-container {
          display: flex;
          gap: 12px;
        }

        .form-item {
          &.w-50 {
            flex-basis: calc(50% - 6px);
            display: inline-block;
          }

          &.card {
            position: relative;

            .form-input {
              padding-right: 45px;
            }
          }

          .form-label {
            display: block;
            font-style: normal;
            font-weight: 500;
            line-height: 1.16;
            letter-spacing: -0.02em;
            color: var(--black);
            margin-bottom: 8px;
            margin-top: 18px;
            font-size: clamp(1.2rem, 2.5vw, 1.4rem);
          }

          .form-input,
          .form-textarea {
            position: relative;
            border: 1px solid rgba(17, 17, 17, 0.1);
            filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
            border-radius: 8px;
            width: 100%;
            padding: 12px 14px;
            background-color: $white;

            &:focus,
            &:focus-visible {
              border: 1px solid $orange;
              outline: none;
            }
          }

          .form-textarea {
            height: 100px;
          }

          .card-icon {
            position: absolute;
            bottom: 5px;
            margin-block: auto;
            right: 12px;
            transform: translateY(-50%);
          }
        }
      }

      .btn-primary {
        margin-top: 20px;
      }
    }
  }
}
