.reviews {
  padding-top: 72px;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .headline {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;

    span {
      color: $orange;
    }
  }

  .reviews-swiper {
    margin-bottom: 32px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
    }

    .swiper-wrapper {
      @media screen and (min-width: 768px) {
        margin-bottom: 20px;
      }
    }

    .reviews-card {
      display: flex;
      align-items: stretch;
      justify-content: center;
      position: relative;
      margin-bottom: 20px;
      margin-top: 42px;
      height: auto;
    }

    .reviews-image {
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 18px;
    }

    .reviews-text {
      text-align: center;
      padding: 56px 18px 42px;
      background: $white;
      border: 1px solid rgba(17, 17, 17, 0.1);
      box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
      border-radius: 15px;

      @media screen and (min-width: 1200px) {
        padding: 56px 24px 42px;
      }

      .reviews-name {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 24px;
      }

      .reviews-desc {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: rgba(17, 17, 17, 0.7);
        background-color: transparent;
        line-height: 1.3;
      }
    }

    .swiper-reviews-pagination {
      text-align: center;
      transition: 0.3s opacity;
      transform: translate3d(0, 0, 0);

      .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
        text-indent: -99999px;
        width: var(
          --swiper-pagination-bullet-width,
          var(--swiper-pagination-bullet-size, 14px)
        ) !important;
        height: var(
          --swiper-pagination-bullet-height,
          var(--swiper-pagination-bullet-size, 14px)
        ) !important;
      }

      .swiper-pagination-bullet-active {
        background: $orange;
        width: var(
          --swiper-pagination-bullet-width,
          var(--swiper-pagination-bullet-size, 30px)
        ) !important;
        border-radius: 10px;
      }
    }
  }

  .btn-primary {
    margin: 0 auto;
    display: block;
  }
}
