.unique-components {
  padding-top: 72px;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .unique-content {
    max-width: 335px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      max-width: 486px;
      margin-bottom: 50px;
    }

    .headline {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      margin-bottom: 32px;

      span {
        color: $orange;
      }
    }

    .unique-description {
      line-height: 1.2;
      letter-spacing: -0.02em;
      color: $lightBlack;
      text-align: center;
    }
  }

  .unique-list {
    max-width: 335px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 576px) {
      flex-wrap: wrap;
      flex-direction: row;
      max-width: 100%;
    }

    @media screen and (min-width: 768px) {
      gap: 32px;
      max-width: 600px;
    }

    @media screen and (min-width: 1200px) {
      align-items: center;
      gap: 20px;
      max-width: 100%;
    }

    .unique-item {
      position: relative;
      perspective: 1000px;
      transition: transform 1s $cubicTransition;
      width: 100%;
      aspect-ratio: 1/1;

      @media screen and (min-width: 576px) {
        flex-basis: calc(50% - 10px);
      }

      @media screen and (min-width: 768px) {
        flex-basis: calc(50% - 16px);
      }

      @media screen and (min-width: 1200px) {
        flex-basis: calc(25% - 15px);
      }

      &:hover .unique-card,
      &:focus .unique-card {
        transform: rotateY(180deg);
      }

      &:hover .unique-overlay,
      &:focus .unique-overlay {
        transform: rotateY(360deg);
      }

      &:first-child .unique-card {
        background-color: $orange;
      }

      &:nth-child(3) .unique-card {
        border: transparent;
        background-color: $darkViolet;
      }

      &:nth-child(2n + 1) .unique-card-title {
        color: $white;
      }

      &:nth-child(2n) .unique-card-title {
        color: $lightBlack;
      }

      .unique-card {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 28px;
        border: 1px solid $orange;
        border-radius: 15px;
        transition: transform 1s $cubicTransition;
        backface-visibility: hidden;

        .img {
          margin-inline: auto;
          margin-top: 20px;

          @media screen and (min-width: 576px) {
            margin-top: 0;
          }
        }

        .unique-card-title {
          font-size: 18px;
          font-weight: 600;
          line-height: 1.28;
          text-transform: uppercase;

          @media screen and (min-width: 768px) {
            font-size: 20px;
          }
        }
      }

      .unique-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 28px;
        border-radius: 15px;
        border: 1px solid $white;
        background-color: $white;
        transform: rotateY(180deg);
        transition: transform 1s $cubicTransition;
        backface-visibility: hidden;

        .unique-overlay-title {
          font-weight: 600;
          font-size: 18px;
          line-height: 1.2;
          letter-spacing: -0.03em;
          color: $lightBlack;
          margin-bottom: 8px;
          text-transform: uppercase;
        }

        .unique-overlay-text {
          font-size: 14px;
          line-height: 1.28;
          letter-spacing: -0.02em;
          color: $lightBlack;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 9;
          -webkit-box-orient: vertical;

          @media screen and (min-width: 1400px) {
            -webkit-line-clamp: 12;
          }
        }
      }
    }
  }
}
