<footer class="footer-section" id="contactus">
  <div class="container">
    <div class="footer-content">
      <h2 class="headline">
        <span>Chocolate</span>
        a delicious cure for a bad day
      </h2>

      <div class="footer-address">
        <address>
          <p class="contacts-info">Contact us</p>
          <ul class="contacts-list">
            <li>
              <a class="contacts-link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li>
              <a class="contacts-link" href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>

        <ul class="socials-list">
          <li>
            <a
              class="socials-link"
              target="_blank"
              href="https://www.instagram.com"
              rel="noopener noreferrer"
              aria-label="instagram icon"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="socials-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="twitter icon"
            >
              <svg class="icon" width="24" height="24">
                <use href="./img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <hr />

    <ul class="menu-list">
      <li><a class="menu-list-link" href="./index.html">Home</a></li>
      <li>
        <a class="menu-list-link" href="#howitsmade">How it's made?</a>
      </li>
      <li>
        <a class="menu-list-link" href="#ourproducts">Our products</a>
      </li>
      <li>
        <a class="menu-list-link" href="#topsellers">Top sellers</a>
      </li>
      <li>
        <a class="menu-list-link" href="#chocolateislove">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</footer>
