<section class="hero">
  <div class="container">
    <link rel="preload" as="image" href="../img/hero/hero-image-mobile.jpg" />
    <link rel="preload" as="image" href="../img/hero/hero-image-tablet.jpg" />
    <link rel="preload" as="image" href="../img/hero/hero-image-desktop.jpg" />
    <div class="hero-inner">
      <h1>
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h1>
      <div class="hero-blocks">
        <div class="hero-buttons-container">
          <button class="btn-primary" data-hero-open type="button">
            Buy now
          </button>

          <a href="#howitsmade" class="btn-outline">How it's made</a>
        </div>
        <a class="scroll-button" href="#contactus">
          <span class="scroll-title">scroll down</span>
          <span class="btn-scroll">
            <svg class="icon" width="18" height="18">
              <use href="./img/sprite.svg#arrow"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
