<section id="howitsmade" class="how-its-made">
  <div class="container">
    <h2 class="headline">How it's <span>made?</span></h2>
    <div class="how-its-made-inner">
      <div class="video-container" id="videocontainer">
        <picture>
          <source
            srcset="
              /img/how-its-made/how.jpg    1x,
              /img/how-its-made/how@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            id="image"
            src="/img/how-its-made/how.jpg"
            alt="chocolate video"
            width="760"
            height="500"
            class="how-its-made-video"
            loading="lazy"
            onclick="playVid()"
          />
        </picture>
        <!--
        <svg class="play-icon" width="44" height="44">
          <use href="./img/sprite.svg#play"></use>
        </svg>
        -->

        <iframe
          class="how-its-made-video hidden"
          width="760"
          height="500"
          src="https://www.youtube.com/embed/xPe1jMuX32s"
          title="YouTube video player"
          frameborder="0"
          allow="autoplay"
          allowfullscreen
          frameborder="0"
        ></iframe>
      </div>
      <div class="text-container">
        <h3>
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="made-list">
          <li class="list-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="list-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="list-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="list-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="list-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script>
    window.addEventListener('load', event => {
      const video = document.querySelector('iframe');
      const image = document.querySelector('#image');
      video.classList.add('active');
      video.classList.remove('hidden');
      image.classList.add('hidden');
    });
  </script>
</section>
