<div class="backdrop is-hidden" data-modal-review>
  <div class="modal-review">
    <button
      type="button"
      data-modal-review-close
      class="btn-close"
      aria-label="close modal"
    >
      <svg width="24" height="24">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>

    <h2 class="modal-headline">
      Leave a review
      <span>about our chocolate</span>
    </h2>

    <form action="#" class="modal-form review-js">
      <label for="reviewform-name" class="form-label">Name *</label>
      <input
        id="reviewform-name"
        type="text"
        name="user-name"
        class="form-input"
        placeholder="Name"
        autofocus
      />
      <p role="alert" class="error-message required">Name is required</p>
      <p role="alert" class="error-message required-pattern">
        Please enter Latin letters only
      </p>

      <label for="reviewform-mail" class="form-label">E-Mail *</label>
      <input
        id="reviewform-mail"
        type="email"
        name="user-email"
        class="form-input"
        placeholder="Enter your email"
      />
      <p role="alert" class="error-message required">E-Mail is required</p>
      <p role="alert" class="error-message required-email">
        Please enter a valid email address
      </p>

      <label for="reviewform-message" class="form-label">Review *</label>
      <textarea
        id="reviewform-message"
        class="form-textarea"
        name="message"
        placeholder="Enter text here"
      ></textarea>
      <p role="alert" class="error-message required">Review is required</p>
      <button type="submit" class="btn-primary modal-review-btn">Send</button>
    </form>
  </div>
</div>
