<div class="backdrop is-hidden" data-modal-order>
  <div class="modal-buy">
    <button type="button" data-modal-order-close class="btn-close">
      <svg width="24" height="24">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal-holder">
      <h2 class="modal-headline">Buy <span>now</span></h2>

      <form action="#" class="modal-form">
        <ul class="top-sellers-list">
          <li class="top-sellers-item">
            <img
              class="img"
              src="./img/top-sellers/modal/desc_tab_choko.png"
              alt="Chocolate"
              width="84"
              height="69"
              loading="lazy"
            />
            <p class="img-title">100 g</p>
          </li>
          <li class="top-sellers-item">
            <img
              class="img"
              src="./img/top-sellers/modal/desc_tab_wbchoko.png"
              alt="White and black chocolate"
              width="84"
              height="69"
              loading="lazy"
            />
            <p class="img-title">200 g</p>
          </li>
          <li class="top-sellers-item">
            <img
              class="img"
              src="./img/top-sellers/modal/desc_tab_chokolate.png"
              alt="White and black chocolate"
              width="84"
              height="69"
              loading="lazy"
            />
            <p class="img-title">300 g</p>
          </li>
        </ul>

        <div class="form-holder">
          <div class="flex-container">
            <div class="form-item w-50">
              <label for="buyform-name" class="form-label">Name</label>
              <input
                id="buyform-name"
                class="form-input top-name"
                type="text"
                name="name"
                pattern="^[a-zA-Z]+$"
                minlength="2"
                placeholder="Name"
                required
              />
            </div>

            <div class="form-item w-50">
              <label for="buyform-surname" class="form-label">Surname</label>
              <input
                id="buyform-surname"
                class="form-input"
                type="text"
                name="surname"
                pattern="^[a-zA-Z]+$"
                minlength="2"
                placeholder="Surname"
                required
              />
            </div>
          </div>
          <div class="form-item">
            <label for="buyform-email" class="form-label">Email</label>
            <input
              id="buyform-email"
              class="form-input"
              type="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </div>

          <div class="form-item">
            <label for="buyform-phone" class="form-label">Phone number</label>
            <input
              id="buyform-phone"
              class="form-input"
              type="tel"
              name="user-phone"
              placeholder="Phone number"
              pattern="[0-9]{14,23}"
              required
            />
          </div>

          <div class="form-item card">
            <label for="buyform-card" class="form-label">Card number</label>
            <input
              id="buyform-card"
              class="form-input"
              type="text"
              name="Cardnumber"
              placeholder="Enter card"
              pattern="[0-9\s]{13,19}"
              required
            />
            <svg class="card-icon" width="31" height="19">
              <use href="./img/sprite.svg#mastercard"></use>
            </svg>
          </div>

          <div class="form-item">
            <label for="buyform-message" class="form-label">Message</label>
            <textarea
              id="buyform-message"
              class="form-textarea"
              name="message"
              placeholder="Enter text here"
            ></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
