<section class="our-products" id="ourproducts">
  <div class="container">
    <h2 class="headline">OUR<span> PRODUCTS</span></h2>

    <div class="swiper-container swiper-js">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="card">
            <img
              srcset="
                ./img/our-products/orange.jpg    1x,
                ./img/our-products/orange@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/orange.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="card-headline">ORANGE</h3>
            <p class="card-text">Dark chocolate</p>
            <p class="card-price">45 UAH</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card">
            <img
              srcset="
                ./img/our-products/APPLE&CRANBERRY.jpg    1x,
                ./img/our-products/APPLE&CRANBERRY@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/APPLE&CRANBERRY.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="card-headline">APPLE&CRANBERRY</h3>
            <p class="card-text">Milk chocolate</p>
            <p class="card-price">50 UAH</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card">
            <img
              srcset="
                ./img/our-products/lime&sea_salt.jpg    1x,
                ./img/our-products/lime&sea_salt@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/lime&sea_salt.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="card-headline">LIME&SEA SALT</h3>
            <p class="card-text">Dark chocolate</p>
            <p class="card-price">66 UAH</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card">
            <img
              srcset="
                ./img/our-products/pineapple.jpg    1x,
                ./img/our-products/pineapple@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/pineapple.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="card-headline">PINEAPPLE</h3>
            <p class="card-text">Dark chocolate</p>
            <p class="card-price">54 UAH</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card">
            <img
              srcset="
                ./img/our-products/ClassicB.jpg    1x,
                ./img/our-products/ClassicB@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/ClassicB.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="card-headline">CLASSIC</h3>
            <p class="card-text">Milk chocolate</p>
            <p class="card-price">45 UAH</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card">
            <img
              srcset="
                ./img/our-products/HONEY.jpg    1x,
                ./img/our-products/HONEY@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/HONEY.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="card-headline">HONEY</h3>
            <p class="card-text">Milk chocolate</p>
            <p class="card-price">50 UAH</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card">
            <img
              srcset="
                ./img/our-products/Roasted_fruits.jpg    1x,
                ./img/our-products/Roasted_fruits@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/Roasted_fruits.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="card-headline">ROASTED FRUITS</h3>
            <p class="card-text">Dark chocolate</p>
            <p class="card-price">66 UAH</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card">
            <img
              srcset="
                ./img/our-products/ClassicW.jpg    1x,
                ./img/our-products/ClassicW@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/ClassicW.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="card-headline">CLASSIC</h3>
            <p class="card-text">White chocolate</p>
            <p class="card-price">54 UAH</p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
