<section class="top-sellers" id="topsellers">
  <div class="container">
    <h2 class="headline"><span>Top </span>Sellers</h2>

    <ul class="top-sellers-list">
      <li>
        <img
          class="img"
          src="./img/top-sellers/desc_coffee.jpg"
          srcset="
            ./img/top-sellers/desc_coffee@1x.jpg 1x,
            ./img/top-sellers/desc_coffee@2x.jpg 2x
          "
          alt="Coffee chocolate"
          width="368"
          height="464"
          loading="lazy"
        />
      </li>
      <li>
        <img
          class="img"
          src="./img/top-sellers/desc_chokolate.jpg"
          srcset="
            ./img/top-sellers/desc_chokolate@1x.jpg 1x,
            ./img/top-sellers/desc_chokolate@2x.jpg 2x
          "
          alt="Chokolate"
          width="368"
          height="464"
          loading="lazy"
        />
      </li>
      <li>
        <img
          class="img"
          src="./img/top-sellers/desc_morechoko.jpg"
          srcset="
            ./img/top-sellers/desc_morechoko@1x.jpg 1x,
            ./img/top-sellers/desc_morechoko@2x.jpg 2x
          "
          alt="More chokolate"
          width="368"
          height="464"
          loading="lazy"
        />
      </li>
    </ul>
    <div class="text-holder">
      <p class="title">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button
        class="btn-primary top-button"
        data-modal-order-open
        type="button"
      >
        Buy now
      </button>
    </div>
  </div>
</section>
