@import 'variables';

.btn-primary {
  padding: 12px 22px;
  background: $orange;
  color: $white;
  border: none;
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  border-radius: 100px;
  font-weight: 600;
  transition: all 400ms $cubicTransition;

  @media screen and (min-width: 768px) {
    padding: 14px 40px;
  }

  &:hover,
  &:focus {
    background-color: $lightOrange;
    color: $orange;
  }
}

.btn-outline {
  padding: 12px 22px;
  border-radius: 100px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid $white;
  color: $white;
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  border-radius: 100px;
  font-weight: 600;
  transition: all 400ms $cubicTransition;

  @media screen and (min-width: 768px) {
    padding: 14px 40px;
  }

  &:hover,
  &:focus {
    border: 1px solid $orange;
    color: $orange;
  }
}

.btn-scroll {
  width: 28px;
  height: 28px;
  color: $white;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: $black;
  border: 0;
  background: $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 38px;
    height: 38px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    fill: $orange;
    transition: fill 400ms $cubicTransition;

    @media screen and (min-width: 768px) {
      width: 18px;
      height: 18px;
    }
  }
}
