@import 'variables';

html {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 6px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $orange;
  }
  &::-webkit-scrollbar-track {
    background-color: $lightWhite;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 14px 22px;
  border-radius: 100px;
  font-weight: 600;

  @media screen and (min-width: 768px) {
    padding: 14px 40px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input,
input::placeholder,
textarea,
textarea::placeholder {
  font-size: 14px;
  line-height: 1.21;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }

  &:focus {
    outline: 1px solid $orange;
  }
}

body {
  font-family: $fontPrimary;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: $lightBlack;
  background-color: $lightWhite;
}
