@import 'variables';

html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  &::-webkit-scrollbar {
    width: 6px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $orange;
  }

  &::-webkit-scrollbar-track {
    background-color: $lightWhite;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $orange;
  }

  /* for Firefox */
  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: $orange $orange;
  }
}

::selection {
  background: $orange;
  color: $white;
}

:focus-visible {
  outline: $orange dotted 2px;
  outline-offset: 2px;
}

body {
  font-family: $fontPrimary;
  line-height: 1.4;
  font-weight: 400;
  color: $lightBlack;
  background-color: $lightWhite;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: all 400ms $cubicTransition;

  &:hover,
  &:focus {
    color: $orange;
  }
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input,
input::placeholder,
textarea,
textarea::placeholder {
  font-size: 14px;
  line-height: 1.21;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }

  &:focus {
    outline: 1px solid $orange;
  }
}
