/* 
================
COLORS 
================
*/

$white: #ffffff;
$black: #000000;

$darkViolet: #1e1823;
$lightWhite: #fafafa;
$lightBlack: #111111;
$orange: #fd9222;
$lightOrange: #fcf1e0;

/* 
==============
FONTS
==============
*/
$fontPrimary: Montserrat, sans-serif;

/*
===========
OTHER
===========
*/

$cubicTransition: cubic-bezier(0.4, 0, 0.2, 1);
